.container{
  -fx-background-color: #EEEEEE;
  -fx-alignment: center;
}

.operations_container{
  -fx-background-color: #EEEEEE;
  -fx-spacing: 20;
  -fx-padding: 0 5;
  -fx-alignment: center;
}
.operations_container Text{
  -fx-font-size: 1.2em;
  -fx-alignment: top;
  -fx-font-weight: bold;
  -fx-fill: #000000;
}

.operations_container Button {
  -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 180;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-font-size: 1.2em;
    -fx-background-radius: 12;
    -fx-font-weight: bold; 
}
.operations_container ChoiceBox{
  -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 180;
    -fx-pref-height: 30;
    -fx-alignment: center;
    -fx-font-size: 1.2em;
    -fx-background-radius: 12;
    -fx-font-weight: bold; 
}
.operations_container Button:hover{
  -fx-cursor: hand;

}

.operations_container FontAwesomeIconView{
  -fx-font-size: 1.1em;
}

.page_container {
  -fx-alignment: center;
  -fx-spacing: 20;
 
}
.page_container TextField{
  -fx-border-color: grey;
  -fx-border-width: 0 0 1 0; 
  -fx-font-weight: bold; 
  -fx-background-color: transparent;
}

.page_container TextField:focused {
  -fx-background-color: #132A13;
  -fx-font-weight: bold; 
  -fx-text-fill: #ffffff;
}

.table_container{
  -fx-spacing: 20;
 
}

.table_container Text{
 
   
}
.table-view{
  -fx-border-radius: 10px;
  -fx-border-width: 7px;
 
 -fx-background-color: transparent;
}

.table-view .column-header-background {
  -fx-background-color: #132A13;
  -fx-padding: 0;
  -fx-background-insets: 0;
  -fx-border-insets: 0;
}

.column-header {
  -fx-background-color: #132A13;
  -fx-border-color: #132A13 transparent transparent transparent;
  -fx-padding: 0;
  -fx-background-insets: 0;
  
}
.column-header .label{
  -fx-text-fill:#ffffff;
}
.table-view .filler {
  -fx-background-color: #132A13;
}
.under-table{
  -fx-spacing: 20;
  -fx-alignment: center;
}
.under-table Button{
  -fx-background-color: #132A13;
  -fx-text-fill: #FFFFFF;
  -fx-pref-width: 120;
  -fx-pref-height: 30;
  -fx-alignment: center;
  -fx-font-size: 1.2em;
  -fx-background-radius: 12;
  -fx-font-weight: bold; 
  
}